<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Input</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form method="post">
        <label for="nameInput">Tên:</label>
        <input type="text" name="nameInput" id="nameInput">
        <label for="ageInput">Tuổi:</label>
        <input type="number" name="ageInput" id="ageInput">
        <!-- <input type="file" name="uploadImage" id="uploadImage"> -->
        <button type="submit">Write file</button>
    </form>
</body>
</html>