<p>Hey {{ name }},</p>
<p>Please click below to active your email. This email will be available for 15 minutes</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>