<p>Hey {{ name }},</p>
<p>Use this code for password resetting. This code will be available for 15 minutes</p>
<p>
    <b>{{ code }}</b>
</p>

<p>If you did not request this email you can safely ignore it.</p>